[buildout]
extensions = buildout-versions
extends = https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
package-name = zest.social

[instance]
eggs += plone.reload

[versions]
buildout-versions = 1.2
distribute = 0.6.14
archetypes.schemaextender = 2.0.3
